@{ ViewBag.Title = "Off-World Mining";
 ViewBag.BodyStyle = "central"; }

@section scripts {
    <script>
        $(document).ready(function () {
            $('#aboutmodal').modal();
            setInterval(GetStatus, 3000);
        });

        function GetStatus() {
            $.get("/Central/GetStatus", function (status) {
                if (status.state != "@Halloween_Game.Session.CurrentSession.State.ToString()" || status.code != "@Halloween_Game.Session.CurrentSession.Code") window.location = "/";
            });
        }
    </script>
}

<div class="text-center">
    <h1 class="font-central " style="margin-bottom: 20px;">Off-World Mining</h1>

    <h1><span class="glyphicon glyphicon-globe"></span></h1>

    <p class="lead">
        Intersted in the glamourous lifestyle that is off-world mining?
    </p>
    <p class="lead">
        Visit one of the several recruitment stations conveniently located in your local system.
    </p>

    <h4 class="font-central "><i>Your participation is mandatory!</i></h4>
</div>

<div class="row" style="margin-top: 30px;">
    @foreach (Team team in Team.GetAll()) {
        <div class="col-xs-4">
            @*@if (Request.IsLocal) {
                    <a href="@team.JoinUrl"><img src="~/Content/logo bw @(team.id).png" class="img-responsive" /></a>
                } else {
                    <img src="~/Content/logo bw @(team.id).png" class="img-responsive" />
                }*@
            <a href="@team.JoinUrl"><img src="~/Content/logo bw @(team.id).png" class="img-responsive" /></a>
        </div>
    }
</div>

<div id="aboutmodal" class="modal" tabindex="-1" role="dialog" data-show="true" style="color:#333;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Power/Money/Science</h4>
            </div>
            <div class="modal-body">
                <p>This is the website for the interactive, multi-player puzzle game that I built for my 2017 Halloween party. The party is over, but the software remains.</p>
                <p>If you'd like to simulate the game-play experience you will need to load the Central Display into a browser tab and leave it running while you create your own player character (by clicking one of the three company logos at the bottom of this page).</p>
                <p><a href="/Central" class=" btn btn-primary" target="_blank">Central Display</a></p>
                <p>This game was designed to be played by a large group of people in the same physical area. Your experience may vary.</p>
            </div>

                @*<div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="dropItem"><span class="glyphicon glyphicon-wrench"></span> Drop Item</button>
                </div>*@
        </div>
    </div>
</div>