@{Layout = null;}

<script>
    $(document).ready(function () {
        $("form select, form input").change(function () {
            $.post("/Admin/UpdateSettings", $("form").serialize());
        });
    });
</script>

<form class="form-horizontal">
    <div class="form-group">
        <label for="" class="control-label col-xs-6">Dev Mode</label>
        <div class="col-xs-6">
            <select id="devMode" name="devMode" class="form-control input-sm">
                <option value="True" @(HGameApp.Settings.DevMode ? "selected":"")>On</option>
                <option value="False" @(!HGameApp.Settings.DevMode ? "selected" : "")>Off</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="taskRate"  class="control-label col-xs-6">Task Rate</label>
        <div class="col-xs-6">
            <input type="number" class="form-control input-sm" id="taskRate" name="taskRate" value="@HGameApp.Settings.TaskRate" />
            <p class="help-block">Larger values yield more tasks.</p>
        </div>
    </div>

    <div class="form-group">
        <label for="techRate" class="control-label col-xs-6">Tech Level Rate</label>
        <div class="col-xs-6">
            <input type="number" class="form-control input-sm" id="techRate" name="techRate" value="@HGameApp.Settings.TechRate" />
            <p class="help-block">Larger values yield slower progress.</p>
        </div>
    </div>

    <div class="form-group">
        <label for="durationMod" class="control-label col-xs-6">Task Expiration (%)</label>
        <div class="col-xs-6">
            <input type="number" class="form-control input-sm" id="durationMod" name="durationMod" value="@HGameApp.Settings.TaskDurationModifier" />
            <p class="help-block">Tasks expire more slowly with larger values.</p>
        </div>
    </div>
</form>
